







.container{
  width: 960px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: "header" "main" "footer";




  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 960 px;
}

header{
  grid-area: header;
  background-color: purple;
}

main{
  grid-area: main;
  background-color: green;
  display: grid;
  grid-template-areas: "col1 col2 col3";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

footer{
  grid-area: footer;
  background-color: blue;
}

#col1{
  grid-area: col1;
  background-color: coral;
  height:100px;
}

#col2{
  grid-area: col2;
  background-color: pink;
  height:100px;
}

#col3{
  grid-area: col3;
  background-color: coral;
  height:100px;
}

#grid1{
  width: 960px;
  display: grid;
  grid-template-rows: 960px;
  grid-template-columns: 480px 480px;
}

#grid2{
  width:960px;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 320px 320px 320px;
}
